{block content}
<div id="banner">
	<h1 n:block=title>Pet store</h1>
</div>

<div id="content">
	<h2>Krátky opis môjho riešenia zadania</h2>

	<p>Projekt som vypracoval s použitím Nette frameworku na strane backendu a na strane frontendu som použil React.
Na spracovanie restových požiadaviek som na strane servera použil balíček tomaj/nette-api.
Všetky dáta o zvieratkách ukladám a udržiavam v XML súbore v /data/pets.xml. Na vytváranie unikátneho ID-čka zvieratka, ktoré sa vždy automaticky inkrementuje podľa posledného použitého ID-čka, som vytvoril v modeli PetModel obslužné funkcie
a naposledy použité ID-čko si zapisujem do konfiguračného súboru /config/config.json, kde mám zapísané aj iné konfiguračné dáta, ktoré v aplikáci využívam.
API endpointy som vytvoril presne podľa volaní definovaných na https://petstore3.swagger.io. Ku každému API volaniu som vytvoril príslušné Handlery, ktoré som definoval v konfiguračnom súbore common.neon. 
V konfiguračnom súbore common.neon som zaregistroval aj ApiPresenter, ktorý je použivaný balíčkom tomaj/nette-api. Okrem spomínaných vecí som v common.neon súbore musel povoliť to, 
aby bolo možné tieto endpointy možné volať ajaxovo z reactu - enableGlobalPreflight().
Obrázky jednotlivých zvieratiek ukladám do /data/uploads/. 
Všetky funkcie na ukladanie, editovanie, mazanie a zobrazovanie zvieratok na strane nette robí model PetModel, ktorý je volaný z jednotlivých handlerov podľa potreby.</p>

	<h2>Postup k inicializácii projektu a spusteniu aplikácie:</h2>

<p>
1. git clone https://github.com/Petrus2929/efabrica.git</p>
<p>2. zmazanie celého priečinka efabrica/vendor a zamazanie súbora efabrica/composer.lock (dôvod: command composer install nevie stiahnúť nejaké súbory od tomaj api)</p>
<p>3. presun do priečinka efabrica/nette-api a následné spustenie príkazu composer install  </p>
<p>4. presun do priečinka efabrica/client a následné spustenie príkazu npm install</p>
<p>5. spustenie príkazu 'php -S localhost:8000 -t www' v priečinku efabrica/nette-api</p>
<p>6. spustenie príkazu 'npm start' v priečinku efabrica/client</p>
</div>

<style>
	html { font: normal 18px/1.3 Georgia, "New York CE", utopia, serif; color: #666; -webkit-text-stroke: 1px rgba(0,0,0,0); overflow-y: scroll; }
	body { background: #3484d2; color: #333; margin: 2em auto; padding: 0 .5em; max-width: 600px; min-width: 320px; }

	a { color: #006aeb; padding: 3px 1px; }
	a:hover, a:active, a:focus { background-color: #006aeb; text-decoration: none; color: white; }

	#banner { border-radius: 12px 12px 0 0; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAB5CAMAAADPursXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGBQTFRFD1CRDkqFDTlmDkF1D06NDT1tDTNZDk2KEFWaDTZgDkiCDTtpDT5wDkZ/DTBVEFacEFOWD1KUDTRcDTFWDkV9DkR7DkN4DkByDTVeDC9TDThjDTxrDkeADkuIDTRbDC9SbsUaggAAAEdJREFUeNqkwYURgAAQA7DH3d3335LSKyxAYpf9vWCpnYbf01qcOdFVXc14w4BznNTjkQfsscAdU3b4wIh9fDVYc4zV8xZgAAYaCMI6vPgLAAAAAElFTkSuQmCC); }

	h1 { font: inherit; color: white; font-size: 50px; line-height: 121px; margin: 0; padding-left: 4%; background: url(https://files.nette.org/images/logo-nette@2.png) no-repeat 95%; background-size: 130px auto; text-shadow: 1px 1px 0 rgba(0, 0, 0, .9); }
	@media (max-width: 600px) {
		h1 { background: none; font-size: 40px; }
	}

	#content { background: white; border: 1px solid #eff4f7; border-radius: 0 0 12px 12px; padding: 10px 4%; overflow: hidden; }

	h2 { font: inherit; padding: 1.2em 0; margin: 0; }

	img { border: none; float: right; margin: 0 0 1em 3em; }
</style>
